/* navbar.css - Styles for the navigation bar */
.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1000px;
    background-color: #fff;
    padding: 15px;
    border-bottom: 1px solid #ddd;
    margin: auto;
  }
  
  .navbar .brand {
    font-size: 1.5em;
    font-weight: bold;
  }
  
  .navbar .nav-links a {
    margin-left: 15px;
    color: #333;
    text-decoration: none;
  }
  
  .navbar .nav-links a:hover {
    text-decoration: underline;
  }


.subscribe, .search {
    text-decoration: none;
    color: #333;
}

h1 {
    font-size: 2rem;
}
